.site-layout-content {
  min-height: calc(100vh - 140px);
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ant-menu {
  justify-content: flex-end;
  flex: 1;
}

.ant-card-cover {
  max-height: 170px;
  overflow: hidden;
}

.ant-layout-header {
  display: flex;
}

.logo {
  max-width: 70px;
  height: 100%;
  filter: invert(1);
}

.logo img {
  width: 100%;
}

.foods-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem 1rem;
}

.foods-wrapper + .place-order {
  margin-top: 1rem;
}

.ant-card-meta-description {
  min-height: 44px;
}

.spacer-filter {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.filter {
  display: flex;
  flex-direction: column;
}
